.top-footer{
  padding-top: 30px;
}
  

  .logo-container{
    padding-top: 20px;
    padding-bottom: 20px;
    img{
      width: 150px;
      margin-bottom: 20px;
    }
  }

 .textfooter-container{
  width: 400px;
  p{
    text-align: justify;
    font-size: 12px !important;
  }
 } 

.list-container{
  padding-top: 15px;
  li{
    padding: 10px;
    text-align: left;
    font-size: 15px;
    &:before{
      content: none;
    }
  }
  i{
    padding-right: 8px;
    color:$primaryColor;
  }
}

.contact-container{
 h2{
  font-size: 22px !important;
  text-align: left;
  margin-top: 10px;
  margin-bottom: 10px;
 } 
}

.bottom-footer{
  background-color: $primaryColor;
  padding: 20px;
  p{
    color:white;
    text-align:center !important;
    font-weight: bold;
    font-size: 14px !important;
    margin-bottom: 0;
}
}